nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
nav h1{
    font-size: 2em;
    text-align: center;
}


button.reset {
    align-self: center;
    border: none;
    padding: 15px;
    border-radius: 8px;
}